@import '@/styles/starter.scss';

.sign-up {
  background: #333;
  justify-content: center;
  display: flex;
  width: 100%;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  &-logo {
    margin-bottom: 30px;
  }
  &-wrapper {
    border-radius: 10px;
    text-align: left;
    //display: flex;
    padding: 50px;
    flex-direction: column;
    background: #111;
    width: 100%;
    max-width: 350px;
  }
}
