/* VARIABLES */
$h1-font-size: 35px;
$h2-font-size: 30px;
$h3-font-size: 25px;
$h4-font-size: 20px;

$primary-color: #1b85ff;
$red: #f52664;
$header-height: 68px;

$input-border-color: #e6e6e6;
$input-background-color: #fafafa;
$input-disabled-background: #dadada;
$input-radiocheckbox-color: #eee;
$input-height: 40px;
$input-font-size: 15px;
