@import '@/styles/starter.scss';

.search {
  .movies-list {
    flex-wrap: wrap;

    display: flex !important;
    //justify-content: space-between;
    &-item {
      width: 18.5%;
      margin: 1% 0.7%;

      @include tablet {
        width: 30%;
        margin: 3% 1%;
    }
      @include mobile {
        width: 48%;
        margin: 3% 1%;
    }

      img {
        width: 100%;
      }

      // width: %!important;
    }
  }
}
