@import '@/styles/starter.scss';

$placeholder-color: #999;

.s-select__control {
  font-size: $input-font-size;
  cursor: pointer !important;
  height: $input-height;
  background-color: $input-background-color !important;
  border: 1px solid $input-border-color !important;
  &--is-focused {
    border: 1px solid $primary-color !important;
  }
  // color: pink!important;
}

.s-select__placeholder {
  color: $placeholder-color !important;
}

.s-select__option {
  font-size: $input-font-size!important;
  cursor: pointer!important;
  &--is-focused {
    background: #e9e9e9 !important;
  }
  &--is-selected {
    background: $primary-color !important;
  }
}
